<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      data-bs-theme="dark">

<head th:fragment="head">
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--Bootstrap Icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<!--NavBar-->
<section th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img  alt="logo" style="border-radius: 100%" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li>
            <a class="nav-link active" aria-current="page" th:href="@{/admin}">Admin</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" th:href="@{/customer}">Customer</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex align-items-center">
          <li th:if="${session.userSession == null}" class="nav-item">
            <button
                    class="btn btn-outline-success"
                    type="button"
                    data-bs-toggle="modal"
                    th:attr="data-bs-target='#login'"
            ><i class="bi bi-door-open"></i>
            </button>
            <a class="btn btn-outline-primary m-2 p-2" type="button" aria-current="page" th:href="@{/login}">Login</a>
          </li>
          <li th:if="${session.userSession != null}" class="nav-item">
            <a class="btn btn-outline-danger m-2 p-2" type="button" aria-current="page" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
<!--Alerts msg-->
<section th:fragment="alerts-msg">
  <div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
      <i class="bi bi-check-circle-fill"><strong th:text="${success}"/></i>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${danger != null}">
      <i class="bi bi-x-circle-fill"><strong th:text="${danger}"/></i>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- login?logout msg-->
    <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${param.logout}">
      <i class="bi bi-exclamation-circle-fill"><strong> You have been logged out</strong></i>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- login?erorr msg-->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
      <i class="bi  bi-x-circle-fill"><strong> Invalid username or password</strong></i>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  </div>
</section>

<!--Bootstrap JS-->
<section th:fragment="bootstrapJs">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</section>
</body>
</html>