<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">
<head th:replace="~{fragments::head}"/>
<body>
    <!--NavBar-->
    <section th:replace="~{fragments::header}"/>
    <!--Home page-->
    <section>
        <h1 class="text-center my-2">PAPAYA BANK</h1>
        <div class="container" style="height: 80vh">
            <div class="row my-4">
                <div class="col col-lg-12">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade ">
                        <div class="carousel-inner">
                            <div class="carousel-item active d-flex justify-content-center">
                                <img th:src="@{~/images/image01.jpg}" class="img-fluid " style="width: 70%" alt="image01">
                            </div>
                            <div class="carousel-item d-flex justify-content-center">
                                <img th:src="@{~/images/image02.jpg}" class="img-fluid" style="width: 70%" alt="image02">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Bootstrap JS-->
    <section th:replace="~{fragments::bootstrapJs}"/>
</body>
</html>